<h1 style="text-align: center;">  Promoção!</h1>
<div id="carouselExample" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% for (let i = 0; i < produtos.length; i += 3) { %>
      <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
        <div class="d-flex justify-content-center">
          <% for (let j = i; j < Math.min(i + 3, produtos.length); j++) { %>
            <div class="card mr-3 position-relative">
              <div class="promo-text">Promoção</div> <!-- Texto "promoção" sobreposto à imagem -->
              <div class="card-body">
                <div class="card-img-actions">
                  <img id="img-card" src="/uploads/<%= produtos[j].imagem %>" class="card-img img-fluid" width="96" height="350" alt="">
                </div>
              </div>
              <div class="card-body bg-light text-center" style="width: 308px;">
                <div class="mb-2">
                  <h6 class="font-weight-semibold mb-2">
                    <a href="/produtos/<%= produtos[j].id %>" class="text-default mb-2" data-abc="true"><%= produtos[j].nome %></a>
                  </h6>
                  <a href="/produtos/<%= produtos[j].id %>" class="text-muted" data-abc="true">Laptops & Notebooks</a>
                </div>
                <div>
                  QTD: <input style="text-align: center;" class="bg-light" type="number" value="1" min="1" max="10" id="qtd">
                  <h3 class="mb-0 font-weight-semibold">R$ <%= produtos[j].valor %></h3>
                </div>
                <div>
                  <i class="fa fa-star star"></i>
                  <i class="fa fa-star star"></i>
                  <i class="fa fa-star star"></i>
                  <i class="fa fa-star star"></i>
                </div>
                <div class="text-muted mb-3">34 reviews</div>
                <button id="btn-add-cart" type="button" onclick="addProduto('<%= produtos[j].nome %>', document.getElementById('qtd').value, '<%= produtos[j].valor %>','<%= produtos[j].id %>')" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
