<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head")%>

  <body>

    <%- include("./partials/header")%>
    <div class="img-fluid">
      <img src="imagens/DiaryHeroArticle_ForeverGuilty-Campaign-Jared_001_Default.jpg" class="img-fluid-banner" alt="...">
    </div>


  <main class="bg-light">
    <section>
      <%- include("./partials/promocoes")%>
      <section class="produtos bg-light" >
        
        <div class="container-fluid w-100 p-0 bg-dark d-flex justify-content-center" style="height:100px; border-radius: 0px 0px 4px 4px;">
          <div class="w-100 p-3">
            
            <ul class="ul-categorias">  
              <% categoria.forEach(function(categorias){ %> 
                <li >
                  <div class="categoria-bar">
                    <img style="width: 55px; border: solid #eee; border-radius: 41px;" 
                         src="/uploads/<%= categorias.imagem %> " alt="">
                    
                        <p><%= categorias.nome %> </p>
                  </div>
                  
                </li>
              <% }) %> 
            </ul>
          </div>
        </div>
        <section>
        
          <div class="container-fluid p-0" id="listagem-produto"></div>
      </section>

  </main>

  <%- include("./partials/footer")%>


</body>

<script>
 async function indexFetch(){
      
      const response = await fetch('/api/produtos')
      let json = await response.json()
      let produtoc = json.produtos.map(e=>e)
      let listagem = document.getElementById('listagem-produto')
      
      for(let i = 0; i<produtoc.length; i++ ){
       
          let article = document.createElement('article')
          article.setAttribute('id', 'article-index')
      
          let div = document.createElement('div')
          div.setAttribute('class', 'd-flex')
          div.setAttribute('id', 'div-pesquisa')
          let p = document.createElement('p')
          p.appendChild(document.createTextNode(produtoc[i].nome))
          p.setAttribute('class', 'p-pesuisa')
          div.appendChild(p)
          let span = document.createElement('span')
          span.appendChild(document.createTextNode('R$' + ' ' + produtoc[i].valor))
          span.setAttribute('class', 'span-pesquisa')
          div.appendChild(span)
          let pre = document.createElement('pre')
          pre.setAttribute('class', 'btn bi bi-cart btn-primary active p-0')
          pre.appendChild(document.createTextNode(' Adicionar'))
          pre.onclick = ()=> {
            window.location.href = `/produtos/${produtoc[i].id}`
          }
          div.appendChild(pre)
          let img = document.createElement('img')
          img.setAttribute('src', `/uploads/${produtoc[i].imagem}`)
          img.setAttribute('class', 'img-article')
          img.setAttribute('href', `/produtos/${produtoc[i].id}`)
          img.onclick = ()=> {
            window.location.href = `/produtos/${produtoc[i].id}`
          }
          article.appendChild(img)
          article.appendChild(div)
          
          listagem.appendChild(article)
      }
  }
  window.addEventListener('load', indexFetch)
  

</script>
</html>
