<html lang="en">
    <%- include("../partials/head")%>
<body>
    <%- include("../partials/header") %>
    <main class="container-fluid bg-light" id="admin-main">
        <h2><%= usuarioLogado.nome  %>  </h2>
        <section style="margin-top: 50px;" class="container-fluid d-flex flex-wrap justify-content-around">
            <div class="container-fluid" style="width: 250px; margin-left: -30px;">
            
                    <ul style="list-style: none;">
                        <li><strong>Editar meu perfil</strong> </li>
                        <li><strong>Meus pedidos</strong> </li>
                        <li><strong><a href="#">Meus favoritos</a></strong></li>
                    </ul>

                </div>
            </div>
            <div style="width: 300px;" class="container d-flex flex-column align-items-center text-align-center p-0">
                   
                        <h2>Informações de cadastro</h2>
                        <ul style="list-style: none; padding: 0px;">
                            
                             <li >Nome: <%= usuario.nome %> </li>
                             <li>email: <%= usuario.email %> </li>
                             <li>cep: <%= usuario.cep %> </li>
                             <li>endereço: <%= usuario.endereco %> </li>
                             <li>numero: <%= usuario.numero %> </li>
                             <li>bairro: <%= usuario.bairro %> </li>
                             <li>cidade: <%= usuario.cidade %> </li>
                             <li>estado: <%= usuario.estado %> </li>

                           
                        </ul>
                
                </div>
                
            </div>
        </div>
        </section>
        
    </main>
   <%- include('../partials/footer') %> 
</body>
</html>