<html lang="en">
    <%- include("../partials/head")%>
    <style>a{
        text-decoration: none;
    }
    </style>
<body>
    <%- include("../partials/header") %>
    <main id="admin-main"  style="height: 700px;" class="container-fluid bg-light"  >
        <h2 style="width: 100%;
        text-align: center;
        font-size: 30px;"><%= usuarioLogado.nome  %>  </h2>
        <section style="margin-top: 50px;" class="container-fluid d-flex justify-content-around">
            <div class="bg-light" id="side">
            
                    <ul style="list-style: none; text-decoration: none; ">
                        <li><strong><a href="/cadastro/edit/<%= usuario %> ">Editar meu perfil</a> </strong> </li>
                        <li><strong><a href="/api/carrinho?page=0">Meus pedidos </a></strong> </li>

                    </ul>

                </div>
            </div>
            <div style="width: 300px;" class="container d-flex flex-column text-align-center p-0">
                   
                        <h2 style="font-size: 40px;">Informações de cadastro</h2>
                        <ul style="list-style: none; padding: 0px;">
                            
                             <li >Nome: <%= administrador.nome %> </li>
                             <li>email: <%= administrador.email %> </li>
                             <li>cep: <%= administrador.cep %> </li>
                             <li>endereço: <%= administrador.endereco %> </li>
                             <li>numero: <%= administrador.numero %> </li>
                             <li>bairro: <%= administrador.bairro %> </li>
                             <li>cidade: <%= administrador.cidade %> </li>
                             <li>estado: <%= administrador.estado %> </li>

                           
                        </ul>
                
                </div>
                
            </div>
        </div>
        </section>
        
    </main>
   <%- include('../partials/footer') %> 
</body>
</html>