<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")%>

<body>
    <%- include("../partials/header") %>
    <main>        
      <table class="table" >
        <tbody>
        <tr class="table-active">
            <th>categoria</th>
            <th>ID</th>
            <th >nome</th>
            <th >descricao</th>
            <th >valor</th>
            <th >acos</th>
            <th>favorito</th>
        </tr>
          
            <% calca.forEach(function (calcas){ %>
              <% if(calcas.usuario_id == usuario.id){ %>  
            <tr>
              <td><%= calcas.categoria_id %> </td>
              <td><%= calcas.id  %> </td>
              <td><%= calcas.nome  %>  </td>
              <td><%= calcas.descricao  %></td>
              <td><%= calcas.valor  %></td>
               
              <td>
                <a href="/superadmin/produtos/<%= calcas.id %>/edit">Editar</a>
                <a href="/superadmin/produtos/<%= calcas.id %>/remover">Remover</a>
                <a href="/superadmin/produtos/<%= calcas.id %>">Ver produto</a>

               
                <td><a class='favorito' href="/superadmin/produtos/<%= calcas.id %>/favoritar" style="text-decoration: none;">⭐</a></td>
              
              <% }}) %> 
              
              </td>
            </tr>
          </div>
      
        </tbody>
      </table> 
        
      </section>
 
  <a href="/superadmin/produtos/criar">Novo produto</a>
  <a href="/superadmin/categorias/criar">Nova categoria</a>

      
  
</main>
    <%- include("../partials/footer") %>
</body>

</html>